<form ng-submit="submit()" ng-controller="PartController" ng-init="init()">
  <div class="row">
    <div class="col-md-10">
      <h2>New Part</h2>
    </div>
  </div>
  <div class="row">
    <p>Name (ID) 
      <input type="text" ng-model="part._id" required></input>
    </p>
    <p>Description 
      <input type="text" ng-model="part.description" required></input>
    </p>
  </div>  
  <div class="row">
    <p> Category
      <input type="text" ng-model="part.category" required></input>
    </p>
  </div>
  <div class="row">
	  Image
      <input type="file" name="displayImage" file-model="myFile"></input>
  </div>
  <input type="submit"  id="submit" value="Save"></input>
</form>