<h1>Stores</h1>
<div class="placer" ng-controller="StoreLoadController">
  <div class="left_section">
    <label for="category">Category</label>
    <select ng-options="category for category in categories" ng-model="categorySelected" ng-change="categoryChanged()" class="form-control"></select>
    <ul class="store_parts">
      <li class="store_parts" ng-repeat="part in part_list | noLocation | limitTo:10">
        <div class="store_part" id="{{part._id}}" drag-source>
          <div class="part_top">
            <img class="part_left" src="images/7/{{part.image}}" alt="Image" height="42" width="42" draggable="false"></img>
            <h1 class="part_h1" title="{{part.description}}">{{part.description}}</h1>
            <h2 class="part_h2">{{part._id}}</h2>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="right_section">
    <label for="store">Store</label>
    <select ng-options="option.name for option in store_list track by option._id" ng-model="storeSelected" ng-change="storeChanged()" class="form-control"></select>
    <div class="store-row" ng-repeat="cols in store_config.rows">
      <div ng-repeat="cc in cols track by $index" ng-class="cc.css">
        <div class="store" id="{{cc.sid}}" drag-destination>
          <h3 class="store_line" ng-repeat="part_name in store.stored[cc.sid]  | limitTo:3">{{part_name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
