<nav role="navigation" class="navbar navbar-default" th:fragment="menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <button data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle">
        <span class="sronly"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/#/parts.html" class="navbar-brand">Parts</a>
      <a href="/#/stores.html" class="navbar-brand">Stores</a>
      <a href="/#/pick_lists.html" class="navbar-brand">Pick Lists</a>
      <a href="/#/configs.html" class="navbar-brand">Configs</a>
    </div>
  </div>
</nav>